PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=petradar

MAILER_EMAIL=your_email@gmail.com
MAILER_PASSWORD=your_app_password
MAILER_SERVICE=gmail

MAIL_TO=notifications@example.com

MAPBOX_TOKEN=your_mapbox_token