PORT=3000
DB_HOST=localhost
DB_NAME=petradar
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
REDIS_HOST=localhost
REDIS_PORT=6379
APPINSIGHTS_CONNECTION_STRING=InstrumentationKey=TU_KEY;IngestionEndpoint=https://TU_REGION.in.applicationinsights.azure.com/
MAILER_EMAIL=tu_correo@gmail.com
MAILER_PASSWORD=tu_app_password
MAILER_SERVICE=gmail
MAIL_TO=tu_correo_destino@gmail.com
MAPBOX_TOKEN=tu_mapbox_token
